 
  <header class="main-header">
   <app-line></app-line>
   <!-- Logo -->
    <a href="index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">
      	<b>
      		<font style="vertical-align: inherit;">
      			<font style="vertical-align: inherit;"></font>
      		</font>
      	</b>
      	<font style="vertical-align: inherit;">
      	<font style="vertical-align: inherit;"></font></font></span>
      <!-- logo for regular state and mobile devices -->
      	<span class="logo-lg">
      		<b>
      			<font style="vertical-align: inherit;">
      				<font style="vertical-align: inherit;">账户中心</font>
				</font></b>
				 
		</span>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" style="padding: 0px;height: 50px" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">
        	<font style="vertical-align: inherit;">
        		<font style="vertical-align: inherit;">切换导航</font>
        	</font>
        </span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
     
      </div>
    </nav>
  </header>