  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
      任何你想要的
    </font></font></div>
    <!-- Default to the left -->
    <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">版权所有©聂开枥 </font></font><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">公司</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">。</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">版权所有。
  </font></font>
  </footer>