<div class="wrapper" style="height: auto; min-height: 100%;">
  
  <!-- Main Header -->
  <app-header></app-header>
  <!-- Left side column. contains the logo and sidebar -->
 

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 833px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div  >
           <h3><font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                    {{ pageTitle }}
                    </font>
                </font>
            </h3>
      </div>
  
      <router-outlet></router-outlet>
      
    </section>

    <!-- Main content -->
  
    <app-sidebar></app-sidebar>
 
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
    <app-footer></app-footer>
  <!-- Control Sidebar -->
 
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>